html, body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    background-color: #f9f8ff
}
a  {
    text-decoration: none;
}
h1, h2, h3 {
    color: #51566a;
}
.responsive {
    max-width: 100%;
   height: auto; 
  }
#header-game {
    display: flex;
    justify-content: space-between;
}
p {
    color: #777;
}
.display-none{
    display: none
}
.background{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
}
.logo-wrapper{
    padding-top: 20px;
}
.logo {
    width: 140px;
}
#game{
    background-image: url('../img/background-game.jpg');
    background-position: top;
    background-repeat: no-repeat;  
}
.main {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
}
textarea:focus, input:focus {
    outline: none;
}
#myQuestion{
    text-align: center;
    font-size: 26px;
}
#input-wrapper {
    border-bottom: 2px solid #d2d2d2;
    margin-bottom: 20px;
}
.input {
    padding:8px;
    display:block;
    border:none;
    width:100%;
    font-size: 16px;
    color: #51566a;
    background-color: #f9f8ff
}
#next-question {
    float: right;
    position: relative;
    bottom: 30px;
    right: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #51566a !important;
}
#next-question:hover {
    border-bottom: 2px solid #51566a;
}
#skip-question{
    float: right;
    position: relative;
    bottom: 30px;
    right: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #51566a !important;
}
#myPhoto {
   background-position: center;
   background-size: cover;
   background-position: center;
   height: 850px;
   margin-top: 40px;
   /* box-shadow: 0px 0px 8px 0px rgba(12,5,5,0.3);  */
   box-shadow: 0px 0px 20px 2px  rgba(12,5,5, 0.3); 
}
#number-of-questions {
    position: relative;
    top: 60px;
    font-size: 18px;
    font-weight: 600;
    color: #51566a !important;
}
#hint-section {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.10);
    border-radius: 5px;
    position:relative;
    right: 0px;
    bottom: 40px;
    text-align: center;    
}
#hint-wrapper{
    width: 90%;
    margin: 0 auto;
}
#hint-section h3{
    font-weight: 600;
    font-size: 17px;    
}
#hint{
    margin-top: -10px;
    font-size: 15px;
    color: #555;
    padding-bottom:20px;
    line-height: 20px;
}
#answerCheck{
    font-weight: 500;
    font-size: 16px;
}
.answer-check p{
    margin-bottom: 4px;
}
#correct-answer{
    color: green; 
}
#wrong-answer{
    color: red;
}
#score-wrapper{
   text-align: center;
   margin-top: 60px;
}
#score-title{
    font-weight: 600;
    color: #4799d4;
}
.footer{
    width: 100%;
    margin: 0 auto;
    text-align: right;
    margin-top: 40px;
}
.footer p{
   font-size: 12px;
   margin-bottom: 20px;
}
#time-over{
    text-align: center;
}
#final-score-section{
    text-align: center;
}
#final-score-wrapper {
    box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.10);
}
#upgrade-text{
    margin-top: -5px;
}
#final-score-page-button{
    width: 180px;
    margin-bottom: 80px;
    margin-top: 15px;
    cursor: pointer;
}
#premium-version-section{
    background-color: #51566a;
    height: 300px;
    padding-top: 40px;
}
#premium-version-section h2{
    color: #fff;
    font-weight: 500;
}
#premium-version-section p{
    color: #fff;
    font-weight: 300;
}
#premium-version-input{
    width: 550px;
    height: 30px;
    font-size: 14px;
    margin-top: 20px;
}

/*** HOME MOBILE **/ 
@media only screen and (max-width: 768px) {
  
    .main{
        width: 100%;
    }
    #hint-section{
        width: 100%;
        margin-top: 60px;
        padding: 0;
    }
    #myPhoto{
        width: 100%;
        height: 500px;
    }
    #header-game,
    #answerCheck {
        padding: 10px;
    }
    .footer{
        text-align: center;
    }
}

/*** HOME***/ 
#home{
    margin-top: -40px !important; 
}
#main-home{
    text-align: center;
    margin-top: 40px
}
#title-home{
    margin-top: 60px;
    box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.10);
    height: 320px;
}
#title-home p{
    margin-bottom: -40px;
    font-weight: 400;
    font-size: 18px;
}
h1{
    font-size: 68px;
    line-height: 1.1;
    margin-bottom: 40px;
}
#title-home span{
    font-weight: 700;
    color: #4799d4;   
}
.home-button{
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 12px;
    background-color: #4799d4;
    width: 100px;
    color: white;
    margin: 0 10px;
    display: inline-block;
    letter-spacing: 0.8px;
    cursor: pointer;
}
#how-to-play-button{
    background-color: transparent;
    border: 2px solid #51566a;
    color: #51566a;
    font-weight: 500;
    padding: 11px 30px;
}
#how-to-play-button:hover{
    background-color: #51566a;
    color: #fff;
    font-weight: 400;
    padding: 11px 30px;
}
#start-play-button {   
    padding: 13px 30px;
} 
#start-play-button:hover{
    background-color: rgb(76,138,188)
}
#how-to-play-section{
    text-align: center;
    background-color: #51566a;
    height: 300px;
    position: relative;
    bottom: 240px;
}
#how-to-play-wrapper{
    color: white;
    display: inline-block;
    text-align: left;
    margin-top: 40px;

}
#how-to-play-wrapper p{
    color: white;
    font-weight: 400;
    font-size: 16px;
}
.footer-home{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-home p{
    color: white;
    margin-right: 20px;
}

/*** HOME MOBILE ***/ 

@media only screen and (max-width: 768px) {
    #home h1 {
        font-size: 40px;
        padding-top: 15px;
    }
    .home-button{
        margin: 10px 0;
    }
    #how-to-play-section{
        padding: 20px;
    }
}
/*** PRE COUNT DOWN ***/ 
#pre-count-down-section{
  text-align: center;
}
#pre-count-down-section h1{
    font-size: 124px;
}


